// Footer

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  flex-direction: column;
  padding: remy(18px) 0;
  width: 100%;
  font-size: remy(13px);
  color: #666;

  @media (min-width: 481px) {
    flex-direction: row;
    height: remy(60px);
  }

  a {
    @media (max-width: 480px) {
      margin-top: remy(6px);
      margin-bottom: remy(6px);
    }

    @media (min-width: 481px) {
      margin-left: remy(4px);

      &:first-child,
      &:nth-of-type(2) {
        margin-right: remy(4px);
      }
    }
  }
}
