.nav {
  display: flex;
  flex: 1;

  a {
    margin-right: remy(24px);
    font-weight: 500;
    color: rgba(#000, .5);

    &:hover {
      color: $gradient-purple-fallback;
    }
  }

  a.active {
    color: $gradient-purple-fallback;
  }
}
