// Sections

.page {
  position: relative;
  min-height: remy(275px);

  .main--centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: remy(-60px); // Height of site header
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: remy(960px);
  }
}
