// Form elements

input,
.form-control {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;

  &.has-error {
    border-bottom-color: map-get($colors, red);
  }
}

.form-inline {
  input,
  .form-control {
    display: inline-block;
  }

  .form-label {
    margin-left: remy(6px);
    display: inline-block;
  }
}

fieldset {
  padding: 0;
  border: 0;

  & + & {
    margin-top: remy(32px);
  }
}
