<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>ZenTime</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="handheldFriendly" content="true">

  <meta name="description" content="Alex Devero - Czech designer, web developer and entrepreneur living in Prague. I design and build high quality websites brought to perfection."><!-- Maximum length 155 characters -->
  <meta name="subject" content="Alex Devero - Czech designer, web developer and entrepreneur.">
  <meta name="language" content="English">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="classification" content="business">
  <meta name="url" content="http://alexdevero.com/">
  <meta name="identifier-URL" content="http://alexdevero.com/">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta name="rating" content="General">
  <link rel="author" href="https://plus.google.com/+AlexDevero">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/manifest.json">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="Alex Devero - Czech designer, web developer and entrepreneur.">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Czech designer, web developer and entrepreneur living in Prague. I design and build high quality websites brought to perfection.">
  <meta property="og:image" content="http://alexdevero.com/images/Alex-Devero-photo-salomon-filter.jpg"><!-- my photo -->
  <meta property="og:url" content="http://www.alexdevero.com">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="Alex Devero">
  <meta property="article:author" content="Alex Devero">

  <!-- Twitter cards tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@AlexDevero">
  <meta name="twitter:creator" content="@AlexDevero">
  <meta name="twitter:url" content="http://www.alexdevero.com">
  <meta name="twitter:title" content="Alex Devero - Czech designer, web developer and entrepreneur.">
  <meta name="twitter:description" content="Czech designer, web developer and entrepreneur living in Prague. I design and build high quality websites brought to perfection.">
  <meta name="twitter:image" content="http://alexdevero.com/images/Alex-Devero-photo-salomon-filter.jpg" >

  <!--  Google+ / Schema.org -->
  <meta itemprop="name" content="Alex Devero - Czech designer, web developer and entrepreneur.">
  <meta itemprop="description" content="Czech designer, web developer and entrepreneur living in Prague. I design and build high quality websites brought to perfection.">
  <meta itemprop="image" content="http://alexdevero.com/images/Alex-Devero-photo-salomon-filter.jpg">

  <!-- Font Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- Font Roboto Slab -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

  <!-- Font Graffitti -->
  <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
</head>

<body>
  <div id="root"></div>
</body>
</html>
