// Homepage

.home {
  position: relative;
  min-height: remy(275px);

  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: remy(960px);
  }
}

.home__hero {
  width: 100%;
  text-align: center;

  h1 {
    font-weight: 400;
    color: #000;
  }

  h4 {
    margin-bottom: remy(10px);
    font-weight: 300;
    color: rgba(#000, .5);
  }

  a {
    color: map-get($colors, blue);
  }

  @media screen and (max-width: 768px) {
    padding: remy(24px);
    text-align: center;

    h1 {
      font-size: 6vmax;
    }
  }
}

.hero__logo {
  margin-bottom: remy(24px);
  width: 100%;
}

.zentime-logo {
  display: block;
  overflow: hidden;
  margin-bottom: remy(24px);
  width: 100%;
  height: remy(96px);
  background: url(lotus-flower.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: remy(96px) remy(96px);
  opacity: .5;
}

.zentime-name {
  font-family: Calligraffitti, Roboto, sans-serif;
}
