// Homepage

.home {
  min-height: remy(275px);
}

.home__hero {
  width: 100%;
  text-align: center;

  h1 {
    font-weight: 400;
    color: #000;
  }

  h4 {
    margin-bottom: remy(10px);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(#000, .5);
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 6vmax;
    }
  }
}

.home-cta {
  color: map-get($colors, blue);
}

.hero__logo {
  margin-bottom: remy(24px);
  width: 100%;
}

.zentime-logo {
  display: block;
  overflow: hidden;
  margin-bottom: remy(24px);
  width: 100%;
  height: remy(96px);
  // background: url(lotus-flower.svg);
  // background: url(lotus-flower-outline-colored.svg);
  // background: url(yin-yang-symbol.svg);
  background: url(lotus-flower-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: remy(135px) remy(135px);
  // opacity: .5;
}

.zentime-name {
  font-family: Calligraffitti, Roboto, sans-serif;
}
