.post {
  padding: remy(48px) remy(24px);
  margin: 0 auto;
  min-width: remy(960px);
  max-width: remy(960px);

  a {
    margin: 0 0 72px 0;
  }

  h1 {
    margin-bottom: remy(24px);
    font-weight: 700;
    color: #000;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  p {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 960px) {
    padding: remy(48px) remy(24px);
    min-width: 100%;
    max-width: 100%;
  }
}
