// Session

.session {
  position: relative;
  min-height: remy(275px);

  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: remy(960px);
  }

  .session-timer__input label {
    margin-left: remy(6px);
    display: inline-block;
  }
}

.session-countdown {
  padding: remy(8px) 0;
  margin: remy(18px) auto;

  span {
    display: inline-block;
    width: 100%;
    max-width: remy(30px);
    text-align: center;
  }
}
