// Session

.session {
  min-height: remy(275px);
}

.session__presets {
  display: flex;
  justify-content: center;
  flex-direction: row;

  @media (max-width: 249px) {
    flex-direction: column;
  }

  li {
    &:nth-of-type(2) {
      position: relative;

      @media (max-width: 249px) {
        margin-top: 16px;
        margin-bottom: 16px;
      }

      @media (min-width: 250px) {
        margin-right: 16px;
        margin-left: 16px;
      }

      &:before,
      &:after {
        position: absolute;

        @media (max-width: 249px) {
          right: 0;
          left: 0;
          content: '\2014';
        }

        @media (min-width: 250px) {
          top: 0;
          content: '|';
        }
      }

      &:before {
        @media (max-width: 249px) {
          top: -17px;
        }

        @media (min-width: 250px) {
          left: -10px;
        }
      }

      &:after {
        @media (max-width: 249px) {
          bottom: -17px;
        }

        @media (min-width: 250px) {
          right: -10px;
        }
      }
    }
  }
}

.session-timer {
  margin: remy(18px) auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: remy(480px);

  @media (max-width: 249px) {
    flex-direction: column;
  }

  input {
    max-width: remy(30px);
    text-align: center;
  }
}

.session-timer__input {
  &:nth-of-type(2) {
    @media (max-width: 249px) {
      margin-top: 6px;
      margin-bottom: 6px;

      span {
        display: none;
      }
    }

    @media (min-width: 250px) {
      margin-right: remy(8px);
      margin-left: remy(8px);
    }
  }
}

.session-countdown {
  padding: remy(8px) 0;
  margin: remy(18px) auto;

  span {
    display: inline-block;
    width: 100%;
    max-width: remy(30px);
    text-align: center;
  }
}
